.mainPage {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContent {
    align-items: center;
    display: flex;
    min-width: 1400px;
    justify-content: center;
}

.contentLayout {
    display: flex;
    min-width: 1400px;

    margin-top: 20px;
    /*gap: 20px;*/
}

.contentLeft {
    display: flex;
    flex: 0 0 calc(100% - 370px);
    max-width: calc(100% - 370px);
    gap: 10px;
}

.contentRight {
    display: flex;
    gap: 10px;
}

.contentMain {
    flex: 1;
}

.contentSidebar {
    flex: 1;
}

.leftAdsContainer {
    width: 160px;
}

.rightAdsContainer {
    width: 160px;
}

